<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Malai -->
      <package
            uri="fr.inria.diverse.malai"
            class="fr.inria.diverse.malai.MalaiPackage"
            genModel="src/main/metamodel/Malai.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated interactiveSystem -->
      <package
            uri="fr.inria.diverse.interactiveSystem"
            class="fr.inria.diverse.interactiveSystem.InteractiveSystemPackage"
            genModel="src/main/metamodel/interactiveSystem.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IAFlowGraph -->
      <package
            uri="fr.inria.diverse.iaflowgraph"
            class="fr.inria.diverse.IAFlowGraph.IAFlowGraphPackage"
            genModel="src/main/metamodel/IAFlowGraph.genmodel"/>
   </extension>

</plugin>
